<!DOCTYPE html>
<html 
class="dark"
xmlns:th="http://www.thymeleaf.org"
      lang="en"
      th:fragment="parent(content, title, script)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">SCM</title>
    <link rel="stylesheet" th:href="@{/css/css/output.css}"/>
    <!-- Flow bite cdn -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
</head>
<body class="dark:bg-gray-900 dark:text-white">
<!-- common header -->
<div data-th-replace="navbar :: navbar"> </div>
<!-- common footer -->
<!-- Main content -->
<div class="p-4">
    <section th:replace="${content}"></section>
</div>
<!-- flow bite body cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
<th:block th:replace="${script}"></th:block>
</body>
</html>